@import 'tailwindcss';



/**
    The lines above are intact.
    The lines below were added by maryUI installer.
*/

/** daisyUI */
@plugin "daisyui" {
    themes: light --default, dark --prefersdark;
}

/* maryUI */
@source "../../vendor/robsontenorio/mary/src/View/Components/**/*.php";

/* Theme toggle */
@custom-variant dark (&:where(.dark, .dark *));

/**
* Paginator - Traditional style
* Because Laravel defaults does not match well the design of daisyUI.
*/

.mary-table-pagination span[aria-current="page"] > span {
    @apply bg-primary text-base-100
}

.mary-table-pagination button {
    @apply cursor-pointer
}


@plugin "daisyui/theme" {
  name: "space";
  default: true;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(13% 0.028 261.692);
  --color-base-200: oklch(21% 0.034 264.665);
  --color-base-300: oklch(27% 0.033 256.848);
  --color-base-content: oklch(98% 0.003 247.858);
  --color-primary: oklch(44% 0.11 240.79);
  --color-primary-content: oklch(98% 0.003 247.858);
  --color-secondary: oklch(98% 0.003 247.858);
  --color-secondary-content: oklch(13.955% 0.027 168.327);
  --color-accent: oklch(58% 0.233 277.117);
  --color-accent-content: oklch(96% 0.018 272.314);
  --color-neutral: oklch(37% 0.146 265.522);
  --color-neutral-content: oklch(97% 0.014 254.604);
  --color-info: oklch(72.06% 0.191 231.6);
  --color-info-content: oklch(39% 0.09 240.876);
  --color-success: oklch(64.8% 0.15 160);
  --color-success-content: oklch(0% 0 0);
  --color-warning: oklch(84.71% 0.199 83.87);
  --color-warning-content: oklch(0% 0 0);
  --color-error: oklch(71.76% 0.221 22.18);
  --color-error-content: oklch(0% 0 0);
  --radius-selector: 2rem;
  --radius-field: 2rem;
  --radius-box: 2rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 2px;
  --depth: 1;
  --noise: 1;
}
